html, body, h1, h2, h3, h4, h5, h6, p, a, div, ul, li, blockquote {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
    color: #ddd;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

html{
    background-color: #181714;
}

.wrapper{
    width: 100%;
    background-color: #333;
    position: relative;
}

h1{
    font-size: 2em;
    padding: 40px 0 5px;
}

h2{
    font-size: 1.6em;
    padding: 40px 0 5px;
}

h3{
    font-size: 1.15em;
    padding: 60px 0 5px;
}

h4{
    font-size: 1.05em;
}

p{
    padding: 10px 0;
    font-size: 0.9em;
    line-height: 1.5em;
    color: #aaa;
}

b{
    font-weight: 700;
    color: #eee;
}

small{
    font-size: 0.7em;
}

hr{
    border: 1px #444 solid;
}

img:not(.featureImage, #map){
    margin: 10px 20px 10px 0;
}

.video{
    padding-top: 50px;
}

header{
    display: flex;
    flex-direction: column;
    height: 174px;
    background-color: #eee;
    border-top: 11px solid #ef3e36;
}

header .logo{
    margin-top: 21px;
    margin-left: 57px;
}

header nav{
    background-color: #181714;
    display: flex;
    width: 100%;
    justify-content: center;
}

header ul{
    display: flex;
    background-color: #939598;
    border: 1px solid #666;
    justify-content: space-around;
}

header ul a{
    display: block;
    border: 1px solid #555;
    width: 160px;
    text-align: center;
    padding-top: 6px 0;
}

header ul a{
    font-size: .75em;
    transition: .75s;
}

header ul a:hover, header ul a:active{
    background-color: #ef3e36;
}

header ul a.current{
    background-color: #666;
}

iframe{
    display: block;
    margin: 0 auto;
}

footer{
    background-color: #111;
}

footer blockquote{
    background-color: #444;
    border-top: 1px solid #aaa;
    font-size: 1.1em;
    color: #ccc;
    margin-bottom: 20px;
    padding-top: 15px 0;
    text-align: center;
}

footer .address{
    width: 960px;
}

footer .column{
    width: 180px;
    border-right: 2px solid #222;
    margin-right: 10px;
    color: #888;
    font-size: 0.75em;
    line-height: 1.6em;
}

footer .column h4{
    color: #aaa;
    padding: 15px 0 7px;
}

footer .column a{
    color: #888;
    transition: 0.5s;
}

footer .column a:hover{
    color: #ef3e36;
}

footer .copyrightText{
    padding: 40px 0 10px;
    font-size: .7em;
    color: #555;
    text-align: center;
}

footer .columnWrapper{
    display: flex;
    justify-content: center;
}

main{
    margin: 0 auto;
    width: 1000px;
    padding: 60px 0 100px;
}

.featureImage{
    display: block;
    margin: 0 auto;
}
